<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Please click below for all the news feed services</h1>

            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("New feed APIs", "Index", "Help", new { area = "" }, null)

    </section>
</div>
