@{
    ViewBag.Title = "My News Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>This is a new feed admin application for Cross Over Test</h3>

<ol class="round">
    <li class="one">
        <h5>Login and Create News</h5>
        To Create News you need to login first. Then you can able to see the News Link on Authentication.

    </li>

    <li class="two">
        <h5>Register</h5>
        If you are  <strong>new user</strong> then you need to register yourself first by clicking on the Register button
    </li>

    <li class="three">
        <h5>Category</h5>
        However you can add Categories without logged in.
    </li>
</ol>
